html {
  font-family: 'Poppins', sans-serif;
}

#page-wrapper {
  position: relative;
}

#form-section {
  margin-top: 10%;
}

#form-section input[type='email'] {
  max-width: 300px;
  width: 100%;
  padding: 4px;
}

#header {
  width: 100%;
  background: #eee;
  padding: 10px 0px 0px 0px;
  justify-content: space-around;
  align-items: center;
  display: flex;
}
#logo {
  width: 60vw;
}
#header-img {
  width: 280px;
  height: 55px;
  margin-left: 25px;
  
}
#nav-bar{
  font-weight: 400;
}

nav > ul{
  display: flex;
  flex-direction: row;
  width: 35vw;
  justify-content: space-around;
  
}

li {
  list-style:none;
}
a {
  color: #000;
  text-decoration: none;
}

.nav-link{
  font-size: 20px;
  font-weight: 700;
}

.nav-link:hover{
  color:red;
}


#section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
 
  
}
#section1 > h2 {
  margin-top: 200px;
  font-size: 40px;
  color: #eee;
}

#container {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  background-color: rgba(255,255,255, 0.9);
  text-align: center;
  width: 100%;
  height: 100%;
}

#video-area {
  justify-content: center;
  margin-top: 30px;
}

#video-area > iframe {
  max-width: 560px;
  width: 100%;
}

#container > p {
  font-weight: 700;
  font-size: 30px;
}

body {
  margin: 0px 0px 0px 0px;
}

/*Good tecnique for image background*/
body::before {
 content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: var(--color-darkblue);
  background-image: linear-gradient(
      180deg,
      rgba(00, 00, 00, 0.4),
      rgba(00, 00, 00, 0.8)
    ),
    url(https://i.imgur.com/q0PK8bm.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#footer {
  width: 100%;
  background: rgba(00, 00, 00, 0.9);
  margin-top: 100px;
  color: rgba(255,255,255, 0.9);
}
#footer > ul > li > a {
  color: white;
}

#footer > ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  
}
#Cars {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


#footer > ul > li {
  padding: 0 20px;
}

.product > .level {
  width: 100%;
  padding: 15px 0;
  font-size: 20px;
  font-weight: 700;
  background: rgba(00, 00, 00, 0.2)
}


.btn:hover {
  background: lightskyblue;
}

.btn {
  margin: 0px 0px 10px 0px;
  background:#f1c40f;
  font-weight: 700;
  height: 35px;
  border-radius: 5px;
}

/********************Responsive Set up**********************************/


/*Boxes where the images will be*/


/*PC responsiveness set up*/
@media (min-width: 600px)
{
    .product {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin: 10px;
      width: calc(100% / 3);
      border: 1px solid #000;
      border-radius: 3px;
      height: fit-content;
    }

    .product > img{
      max-width: 100%;
      height: auto;
    }

    #header {
      position: fixed;
    }

}


/*Phone responsiveness setup*/
@media only screen and  (max-width: 600px)
{

  #container > p {
    font-size: 28px;
  }
  #section1 > h2 {
    font-size: 35px;
    margin-top: 120px;
    
  }

   #Cars {
    display: table-column;
   }

   #Cars > .product {
     margin: 10px;
     border: 1px solid #000;
     height: fit-content;
   }

   .product > img{
     max-width: 100%;
     height: auto;

   }

   .product > ul > li{
     justify-content: center;
     text-align: center;
   }

   #nav-bar > ul {
     display: flex;
     flex-direction: column;
     width: 30vw;
     justify-content: space-around;
   }

   #header-img {
     width: 230px;
     height: 50px;
     justify-content: center;
     margin-left: 0;
   }

   #header {
     width: 100%;
     background: #eee;
     justify-content: space-around;
     align-items: center;
     display: flex;
     padding: 0;
   }
  
  #footer > #location {
    margin-top: 35px;
  }
  #footer {
    justify-content: center;
    text-align: center;
  }

}
