html {
  font-family: 'Poppins', sans-serif;
}

#page-wrapper {
  position: relative;
}

#form-section {
  margin-top: 10%;
}

#form-section input[type='email'] {
  max-width: 300px;
  width: 100%;
  padding: 4px;
}

#header {
  width: 100%;
  background: #eee;
  padding: 10px 0px 0px 0px;
  justify-content: space-around;
  align-items: center;
  display: flex;
}
#logo {
  width: 60vw;
}
#header-img {
  width: 280px;
  height: 55px;
  margin-left: 25px;
  
}
#nav-bar{
  font-weight: 400;
}

nav > ul{
  display: flex;
  flex-direction: row;
  width: 43vw;
  justify-content: space-between;
  margin-right: 31px;
  
}

li {
  list-style:none;
}
a {
  color: #000;
  text-decoration: none;
}

.nav-link{
  font-size: 20px;
  font-weight: 700;
}

.nav-link:hover{
  color:red;
}


#section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
 
  
}
#section1 > h2{
  
  margin-top: 150px;
  font-size: 40px;
  color: white;

}

#container {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  background-color: rgba(255,255,255, 0.9);
  text-align: center;
  width: 100%;
  height: 100%;
}

#video-area {
  justify-content: center;
  margin-top: 30px;
}

#video-area > iframe {
  max-width: 560px;
  width: 100%;
}

#container > p {
  font-weight: 700;
  font-size: 30px;
}

body {
  margin: 0px 0px 0px 0px;
}

/*Good tecnique for image background*/
body::before {
 content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: var(--color-darkblue);
  background-image: linear-gradient(
      180deg,
      rgba(00, 00, 00, 0.4),
      rgba(00, 00, 00, 0.8)
    ),
    url(https://i.imgur.com/q0PK8bm.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#footer {
  width: 100%;
  background: rgba(00, 00, 00, 0.9);
  margin-top: 100px;
  color: rgba(255,255,255, 0.9);
}
#footer > ul > li > a {
  color: white;
}

#footer > ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  
}
#Cars {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


#footer > ul > li {
  padding: 0 20px;
}

.product > .level {
  width: 100%;
  padding: 15px 0;
  font-size: 20px;
  font-weight: 700;
  background: rgba(00, 00, 00, 0.2)
}


.btn:hover {
  background: lightskyblue;
}

.btn {
  margin: 0px 0px 10px 0px;
  background:#f1c40f;
  font-weight: 700;
  height: 35px;
  border-radius: 5px;
}

/********************Responsive Set up**********************************/


/*Boxes where the images will be*/


/*PC responsiveness set up*/
@media (min-width: 900px)
{

  .dropdown {
    position: relative;
    display: none;
  }

    
    .product {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin: 10px;
      width: calc(100% / 3);
      border: 1px solid #000;
      border-radius: 3px;
      height: fit-content;
    }

    .product > img{
      max-width: 100%;
      height: auto;
    }

    #header {
      position: fixed;
      margin-top: -9px;
    }

    #header-img {
      margin-left: 17px;
    }

}


/*Phone responsiveness setup*/
@media only screen and  (max-width: 900px)
{

  .dropdown {
    display: flex;
  }

  nav {
    display:none;
  }

  #container > p {
    font-size: 28px;
  }

   #Cars {
    display: table-column;
   }

   #section1 > h2 {
     font-size: 35px;
     margin-top: 120px;
     color:white;
   }

   #Cars > .product {
     margin: 10px;
     border: 1px solid #000;
     height: fit-content;
   }

   .product > img{
     max-width: 100%;
     height: auto;

   }

   .product > ul > li{
     justify-content: center;
     text-align: center;
   }

   

   #header-img {
     width: 230px;
     height: 50px;
     justify-content: center;
     margin-left: -19px;
   }

   #header {
     width: 100%;
     background: #eee;
     position: fixed;
     align-items: center;
     display: flex;
     padding: 0;
   }
  
  #footer > #location {
    margin-top: 35px;
  }
  #footer {
    justify-content: center;
    text-align: center;
  }
}


/*Mobile Responsiveness menu*/
.dropbtn {
  background-color: #171a1b;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-right: -60px;

}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  left: 0;
}

.dropdown-content ul li {
  margin-left: -55px;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display:block;
  margin-left: -80px;
}